@import "./_bootstrap_variables";
@import "./_bootstrap_override";

html, body, #app, #container, #content, #map {
    height: 100%;
    width: 100%;
}


#content {
    display: flex;
}

#sidebar {
    width: 300px;
}

#map {
    flex: 1;
}

header {
    padding: 10px;
    background-color: #FBFBFB;
    border-bottom: 1px #DDD solid;
}

#disclaimer {
    text-align: center;
}

#disclaimer p {
    display: inline-block;
}

.person-row {
    border-left: 50px solid;
}
